.container {
    position: absolute;
    display: grid;
    grid-template-columns: 345px 345px 334px;
    grid-template-rows: 55px 231px 231px 114px 136px;
    width: 70%;
    top: 30%;
}

#uno {
    grid-column: 1/2;
    grid-row: 2;
    margin: auto;
}

#dos {
    grid-column: 2/3;
    grid-row: 2;
    margin: auto;
}

.btn {
    width: 238.6px;
    height: 115px;
    border-radius: 12px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px #721a16;
    background-color: transparent;
    color: black;
}

.icono {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: solid 2px goldenrod;
}

a {
    width: 98px;
    height: 82px;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 900;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: black;
}