/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eeece6;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}