/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eeece6;
    display: grid;
    grid-auto-columns: 344px 344px 344px;
    grid-auto-rows: 744px;
    margin: 0%;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}